ul.social {
  list-style: none;
  padding: 0;
}

ul.social li{
    display: inline;
    margin: 0;
    padding: 5px;
}

.fa{
    transition: 0.5s;
    font-size: 30pt;
    color: white;
    padding: 10px;
}

.fa-linkedin:hover{
    transition: 0.5s;
    color: rgb(60, 101, 161);
}

.fa-twitter:hover{
    transition: 0.5s;
    color: rgb(0, 174, 255);
}

.fa-github-alt:hover{
    transition: 0.5s;
    color: black;
}